# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.hi
KWNegativeTests
KWPositiveTests
KWStrGenerator
*~
*.key

# Executables
*.exe
*.out
*.app
build/
junk/
